
body{
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/622/440/desktop-wallpaper-nezuko-chan-cute-demon-slayer-peeker-nezuko-cute-baby.jpg');
     background-repeat: no-repeat; 
    background-attachment: fixed; 
      background-size: 100% 100%;
}