.pin:link {
  color:green;
  background-color: transparent;
  text-decoration: none;
}
.pin:visited {
  color: plum;
  background-color: transparent;
  text-decoration: none;
}
.pin:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
.pin:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}


.p:link,.p:visited {
    background-color:rgb(236, 74, 74);
    color:black;
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
}

.p:hover,.p:active {
  background-color: red;
}

