table,td,th{
    border:1px solid black;
    border-collapse: collapse;

}
th, td {
  padding:15px;
}


  table.m,  table.m th,  table.m td {
  border: 1px solid black;
  border-collapse: collapse;
}
  table.m th,  table.m td {
  padding-top:20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

table.p,table.p th,table.p td {
  border: 1px solid black;
 
}
table.p {
  border-spacing: 25px;
   border-collapse: separate;
}

