table,td,th{
    border:1px solid black;
    border-collapse: collapse;

}
th, td {
  padding:15px;
}


 .m, .m th,.m td {
  border: 1px solid black;
  border-collapse: collapse;
}
 .m th, .m td {
  padding-top:20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.p,.p th,.p td {
  border: 1px solid black;
 
}
.p {
  border-spacing: 25px;
   border-collapse: separate;
}

