table,th,td
{
    border: 1px solid black;
    border-collapse: collapse;
}
.m, .m th,.m td {
  border: 1px solid black;
  border-collapse: collapse;
}
.m th {
  text-align: left;
}

.n,.n th,.n td {
  border: 1px solid black;
  border-collapse: collapse;
}

.p,.p th,.p td
{
    border: 1px solid black;
    border-collapse: collapse;
}
