table ,th ,td {
border: 1px solid black;
border-collapse: collapse;
}

.n, .n th,.n td {
  border: 1px solid white;
  border-collapse: collapse;
}

.n th,.n td {
  background-color: #96D4D4;
}

.m,.m th, .m td {
  border: 1px solid black;
  border-radius: 10px;
   border-collapse: separate;
}
.p th,.p td {
  border-style:solid;
  border-color: #96D4D4;
}
