.m {
  list-style-type: none;
  background-color: #333333;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.m li {
  float: left;
}

.m li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.m li a:hover {
  background-color: #111111
}